.DataGrid_root {
  display: grid;
}

.DataGrid_virtual-padding {
  grid-column: 1 / -1;
}

.DataGrid_cell {
  padding: 3px 6px;
}

.DataGrid_header {
  position: relative;
  border-bottom: 1px solid blue;
}

.DataGrid_resizer {
  position: absolute;
  background: blue;
  width: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  cursor: col-resize;
  z-index: 1;
}

.DataGrid_resizing {
  user-select: none;
}
